/* .calendar-wrap {
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.calendar-wrap header {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
} */

/* .date-input-form{
    height: 100%;
} */
.calendar-wrap{
    display: none;
}
.calendar-wrap.show{
    display: flex;
}
header .icons {
    display: flex;
    justify-content: center;
}

header .icons span {
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
}

.icons span#next {
    /* margin-right: -10px; */
    /* float: right; */
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 18px;
    font-weight: 600;
}

.calendar {
    padding: 20px;
}

.calendar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

.calendar .days {
    margin-bottom: 20px;
}

.calendar li {
    color: #333;
    width: calc(100% / 7);
    /* font-size: 1.07rem; */
}

.calendar .weeks li {
    font-weight: 500;
    cursor: default;
}

.calendar .days li {
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

.days li.inactive {
    color: #aaa;
    cursor: default;
}

.days li.selected,
.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.selected::before{
    background: #b1fa31;

}
.days li.active::before {
    background: #5392fa;
}
.days li.inactive:hover{
    /* background-color: transparent; */
}
.days li:not(.selected):hover::before,
.days li:not(.active):hover::before {
    background: #f2f2f2;
}