.myProperty-content-header {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myProperty-content-header ul {
    display: flex;
    min-width: 250px;
    max-width: 250px;
    justify-content: space-between;
    position: relative;
    color: rgb(131, 131, 131);
}

.myProperty-content-header ul li {
    cursor: pointer;
    padding: 8px;
    width: 50%;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.myProperty-content-header ul li:hover {
    background-color: rgb(236, 236, 236);
}

.myProperty-content-header ul li.active {
    color: #5392fa;
    border-bottom: 3px solid #5392fa;
}

.myProperty-content-body .no-prop-list {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: auto;

    display: none;
}

.myProperty-content-body .no-prop-list.active {
    display: flex;
}

.myProperty-list-item {
    border: 1px solid #ccc;
    border-radius: 8px;


}

.myProperty-list-item .myProp-info {
    width: 100%;
    padding: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myProperty-list-item .myProp-detail {
    display: flex;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 12px;
}

.myProp_img {
    max-width: 120px;
    height: 90px;
    overflow: hidden;
    margin-right: 12px;
}

.myProp_img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.myProp-detail-name {
    display: flex;
    height: 70px;
    flex-direction: column;
    justify-content: space-between;
}

.myProp-detail-name .name {
    font-size: 14px;
    font-weight: 600;
}

.myProp-detail-name .desc {
    font-size: 13px;
    color: rgb(132, 131, 131);
}

.myProperty-list-item .myProp-edit {
    font-size: 16px;
    padding: 8px;
    border-top: 1px solid #ccc;
}

.myProperty-list-item .myProp-edit ul {
    width: 100%;
    display: flex;
    /* gap: 24px; */
}

.myProperty-list-item .myProp-edit ul li {
    padding: 4px 12px;
}

.myProperty-list-item .myProp-edit ul li a {
    color: #0b5ada;

}

.myProperty-list-item .myProp-edit ul li a:hover {
    text-decoration: underline;
}

.myProperty-list-item .myProp-edit ul li:hover {
    background-color: rgb(234, 234, 234);
}

.myProperty-list-item .myProp-edit ul li:not(:last-child) {

    border-right: 1px solid #ccc;
}

.modal-addProp .modal-inner-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    font-size: 18px;
}
.modal-addProp .modal-inner-header #close-modal{
    width: 36px;
    height: 36px;
    /* line-height: 14px;
    text-align: center; */
    cursor: pointer;
}
.modal-addProp .modal-inner-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.property-item{
    min-width: 90%;

}
.property-section{
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 5px;
}
.property-type-list ul{
    display: flex;
}
.property-type-list .property-type-btn{
    border: none;
    /* outline: 2px solid #5392fa; */
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: transparent;
    max-height: 90px;
    min-height: 90px;
    max-width: 120px;
    min-width: 120px;
    margin: 8px 12px;

    font-size: 12px;
    font-weight: 400;

}
.property-type-list .property-type-btn.active{
    box-shadow: rgb(0 0 0 / 20%) 0px 1px 6px 2px;
    background-color: #5392fa;
    color: #fff;
}
